{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "max-len": [2, 100, 4],
    "strict": 0,
    "no-console": "warn",
    "quotes": ["warn", "double"],
    "prettier/prettier": "warn",
    "react/prop-types": 0,
    "no-unused-vars": "warn",
    "react/display-name": 0,
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": true
      }
    ]
  },
  "extends": ["eslint:recommended"],
  "plugins": ["prettier"],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
